<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Perl for x86_64 systems</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.googlecode.GoogleCodeProjectProperty plugin="googlecode@1.7"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SOURCE_DIR</name>
          <description>Path to source code directory</description>
          <defaultValue>$HOME/source</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>PERL_VERSION</name>
          <description>The version of Perl to build</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>5.16.2</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PERL_TARBALL</name>
          <description>Name of the Perl source tarball file</description>
          <defaultValue>perl-${PERL_VERSION}.tar.gz</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>## UPDATE JENKINS-CFG
cd $HOME/src/jenkins-cfg.git
git pull</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>## DOWNLOAD
/bin/sh $HOME/src/jenkins-cfg.git/scripts/download.sh --file $PERL_TARBALL \
  --url http://www.cpan.org/src/5.0 \
  --log $WORKSPACE/wget.log \
  --outdir $HOME/$SOURCE_DIR</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>## UNPACK AND CONFIGURE

# always unpack fresh source
if [ -d perl-${BUILD_PERL_VERSION} ]; then
  rm -rf perl-${BUILD_PERL_VERSION}
fi

tar -zxvf $SOURCE_DIR/$PERL_TARBALL

cd perl-${BUILD_PERL_VERSION}

# now run Configure
echo &quot;Current directory is: $(pwd)&quot;
# -de = use defaults, go on without questions
# there&apos;s a test in Configure for which file descriptor is connected
# to Configure, the wrong file descriptor exits Configure
sh Configure -de \
  -Dprefix=&quot;${WORKSPACE}/perl-${BUILD_PERL_VERSION}-bin&quot; \
  -Dusethreads -Duserelocatableinc</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>## BUILD AND TEST
cd perl-${BUILD_PERL_VERSION}
time make
time make test
time make install</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>## ARCHIVE AND DELETE BUILD DIR
# -J == xz compression

# we need to tar from inside the -bin directory to remove leading paths
cd $WORKSPACE/perl-${BUILD_PERL_VERSION}-bin

tar -cJvf $WORKSPACE/perl-${BUILD_PERL_VERSION}.artifact.tar.xz .

# remove the old install directory
rm -rf $WORKSPACE/perl-${BUILD_PERL_VERSION}-bin</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>perl-${BUILD_PERL_VERSION}.artifact.tar.xz</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>